body {
	background: #232413;
	color: yellow;
}
#head, #body, #foot, #body_head, #body_body {
	position: relative;
	width: 95%;
	margin: 0 auto;
	border: 1px solid #1b160a;
	border-bottom-width: 0px;
	overflow: hidden;
}
#head, #foot {
	text-align: center;
}
#head a, #foot a {
	display: block;
	text-align: center;
	text-decoration: none;
}
#head a {
	color: #aeb9cf;
	font-size: 20px;
	border: 1px solid #29291a;
	height: 33px;
	position: relative;
	top: -16px;
}
#head a:hover {
	border: 1px solid gray;
	border-top: 1px solid #29291a;
}
#foot a {
	color: #2f435f;
	font-size: 12px;
}
#head {
	background-color: #29291a;
	height: 35px;
}
#head_text {
	color: #717158;
	font-size: 14px;
	height: 16px;
	position: relative;
	top: 14px;
	left: 75px;
}
#body {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background: #302e2b;
	border-bottom: 1px solid #1b160a;
}	
#body_head {
	position: relative;
	top: -10px;
	left: -1px;
	width: 100%;
	border-top-width: 0px;
	border-bottom-width: 1px;
	background-color: #363636;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	height: 20px;
	color: #1c3455;
}
#body_head a {
	text-decoration: none;
	color: #3361a0;
	font-size: 12px;
}
#body_body {
	position: relative;
	background-color: #363636;
	width: 100%;
	border-left-width: 0px;
	border-bottom-width: 1px;
}
#foot {
	border-top: 0px;
}
#posts {
}
#posts .post_line .date {
	font-size: 10px;
	padding-left: 7px;
	color: #527b91;
	font-weight: bold;
	display: block;
}
#posts .post_line a {
	border-left: 1px solid #000000;
	text-decoration: none;
	font-size: 14px;
	display: block;
}
#posts .post_line a:hover .title {
	color: #ffffff;
	background: #002b42;
}
#posts .post_line a:hover .descr {
	color: #d69e26;
	background: #003654;
}
#posts .post_line a .title {
	display: block;
	color: #d69e26;
	background: #000f17;
	padding-left: 7px;
}
#posts .post_line a .descr {
	display: block;
	background: #001d2c;
	color: #a55c19;
	padding-left: 14px;
}
#posts .post_line a:active {
	color: #ffce00;
}
/*
#sideframe0 {
	padding-left: 3px;
	width: 34px;
	overflow: visible;
	position: absolute;
	background: #1e1e1e;
	top: 0px;
	left: 0px;
}
#sideframe0 .key {
	text-align: center;
	vertical-align: middle;
	width: 34px;
	height: 34px;
	overflow: hidden;
	padding-bottom: 5px;
}
#sideframe0 .key img {
	width: 32px;
	height: 32px;
}
#sideframe0 .key:hover .hide {
	display: block;
}
#sideframe0 .hide {
	display: none;
	position: absolute;
	margin-top: -36px;
	padding: 3px;
	padding-top: 0px;
	left: 37px;
	background: red;
}
*/

#post_head .date, #post_head .title, #post_head .descr
{
	display: block;
}

#post_wrap0
{
	border-left: 1px solid #000000;
}

#post_head .date
{
	margin-top: 2px;
	text-align: center;
	width: 90px;
	font-size: 12px;
	font-weight: bold;
	color: #7e7d6d;
	float: left;
}

#post_head .title
{
	font-size: 20px;
	color: #c0a149;
}

#post_head .descr
{
	color: #c09d3b;
	padding-left: 20px;
	padding-bottom: 4px;
}

#post_body
{
	border-top: 1px solid #000;
	color: #b7b7c6;
	background: #090911;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
}

#post_body p
{
	text-align: justify;
}

#post_body p:first-letter
{
	font-weight: bold;
	font-size: 130%;
}

#post_body code
{
	padding-left: 3px; 
	padding-right: 3px;
	background: #0d0d17;
}

#post_body a
{
	padding-left: 3px;
	padding-right: 3px;
	color: #b7b78c;
	text-decoration: none;
}

#post_body a:hover
{
	color: #c8ca3e;
	background: #5e5e50;
}

#post_body table
{
	padding: 0px;
}

#post_body table th
{
	color: #aeaf47;
	background: #21213b;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#post_body table td
{
	background: #10101d;
	padding: 5px;
	text-align: justify;
	vertical-align: top;
}

#post_body .footnote a
{
	color: #6a670c;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

#post_body .footnote a:hover
{
	color: #e9153f;
	background: #ab8f6b;
}

