<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="RD3I99sCEeBiMRAUPcwlcTdROoiLqU8CgBsC1bi3aBw" />
		<link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
		<title>~*: {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/style/highling.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/style/base.css" />
		<link href="http://otto.styxheim.ru/atom.xml" rel="alternate" title="Main rss" type="application/atom+xml" />
		<!-- disqus code -->
		<script type="text/javascript">
			// var disqus_identifier = '';
			var disqus_url = 'http://otto.styxheim.ru{{ page.url }}';
		</script>
		<script src="/disqus.js" type="text/javascript" defer="defer"></script>
	</head>
	<body>
		<!--
		<div id="sideframe0">
			<div class="key">
				<a href="/atom.xml">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png" alt="rss">
				</a>
				<div class="hide">
					try subscribe to my rss :3
				</div>
			</div>
			<div class="key">
				<a href="https://github.com/noktoborus">
					<img src="https://secure.gravatar.com/avatar/61024896f291303615bcd4f7a0dcfb74?s=140&d=https%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png" alt="octocat">
				</a>
				<div class="hide">
					fork me on github :3
				</div>
			</div>
		</div>
		-->
			<div id="head">
				<div id="head_text">Крен на Лориен!</div>
				<a href="{{ site.url }}/" >~*</a>
			</div>
		<div id="body" class="body">
			<div id="body_head">
				[ <a href="https://github.com/noktoborus/">me on github</a> ]
			</div>
			<div id="body_body">
				{{ content }}
			</div>
		</div>
		<div id="foot">
			<a href="{{ site.url }}/atom.xml">rss</a>
		</div>
	</body>
</html>

